{% extends 'base.html.twig' %}

{% block title %} Les categories {% endblock %}

{% block body %}
    {% for category in categories %}
    <h1> {{ category.name }}</h1>
            {% for article in category.articles %}
            <li>
                {{ loop.index }} / {{ article.title }} : {{ article.content }}
            </li>
            {% endfor %}
    {% endfor %}
{% endblock %}
